header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    height: 10%;
    margin: 0;
    background-color: azure;
}

/* SIZING HERE NEEDS UPDATING */
.menuIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1;
    width: max(1%, 3rem);
    margin: 1%;
    padding: max(0.5%, 1rem);
    border: solid black 0.5px;
    border-radius: 10px;
}

.menuIcon:hover {
    border-color: darkgrey;
    
    .menuBar {
        background-color: darkgrey;
    }
}

.menuBar {
    background-color: black;
    width: 100%;
    height: 8%;
}

.container {
    position: relative;
    width: 100%;
    aspect-ratio: 2;
    border: solid 1px black;
}

.menuContainer {
    position: absolute;
    margin: auto;
    inset: 0;
    background-color: lightgray;
    border: 3px solid grey;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    z-index: 2;

    .menuText {
        margin-left: 5%;
    }
}

.youtubeVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.zenContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.somethingawful.com/u/g0m/phriday/Cat_Cena/05_RoryBlank.jpg");
    background-repeat: space;
    background-size: 10%;
    /* animation: rotateBackground 3s linear infinite alternate; */
    z-index: -1;
}

.zen {
    position: relative;
    width: 100%;
    height: 100%;
    animation: rotateBackground 3s linear infinite alternate;
}

@keyframes rotateBackground {
    from {
        transform: rotateY('0');
    }
    to {
        transform: rotateY('180deg')
    }
}
